/* Tela de Login */

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');


#body_login{

    margin: 0;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    background: none;

}

video{

    top: 0;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
    

}

#body_login p{

    text-align: center;
    margin-top: 10%;
    color: rgb(148, 155, 171);
    font-weight: 600;

}

#card-login {

    position: relative;
    text-align: center;
    align-self: center;
    color: white;
    margin: 0;
    z-index: 100;

}

#form{

    /* border: solid 2px white; */
    width: 40%;
    height: 300px;
    align-content: center;
    justify-self: center;
    margin-top: 10%;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#form-cadastro{

    /* border: solid 2px white; */
    width: 40%;
    height: 500px;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.212); 
    border-radius: 20px;
    justify-self: center;
    margin-top: 2%;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#form-cadastro select{

    background-color: transparent;
    padding: 1%;
    border: solid 2px white;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#select_tipo option{

    color: white;
    background-color: rgb(77, 77, 77);

}

#select_tipo {

    color: white;

}

#form a, #form-cadastro a{

    color: white;
    text-decoration: none;
    
}

#form a:hover , #form-cadastro a:hover{

    text-decoration: underline;
    transition: 0.2s;

}

#form input, #form-cadastro input{

    background-color: transparent;
    border-bottom-color: white ;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#form button, #form-cadastro button {

    width: 20%;
    height: 10%;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: solid 1px white;
    transition: 0.4s;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#form button:hover, #form-cadastro button:hover {

    color: black;
    background-color: white;
    border-color:  rgb(255, 255, 255);
    transition: 0.4s;
}

#form h2{

    font-size: 2rem;
    font-family: 'aclonica', Georgia, 'Times New Roman', Times, serif;

}

#form-cadastro h2 {

    font-size: 1.5rem;

}

::-webkit-input-placeholder{

    color: white;

}

#div_mensagem{

    color: white;
    font-size: 0.7rem;

}

#navbar {
    margin: 0;
    height: 120px;
    margin-top: 0%;
    background: linear-gradient(to right, rgb(7, 3, 49), rgb(10, 10, 90));
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100%;
    box-shadow: 0px 0px 30px 8px black;
    align-items: center;
    border-bottom: solid 1px white;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{

    margin: auto;
    background-color: rgb(16, 23, 47);

}

#navbar ul{

    display: flex;
    list-style-type: none;
    width: 45%;
    align-items: center;
    
}

#navbar li{

    font-size: 1rem;
    margin-right: auto;

}

#navbar #logo{

    width: 140px;
    height: 130px;
    margin-right: 10px;
}

#navbar #perfil{

    width: 70px;
    height: 70px;

}

#perfilLogin{

    display: flex;

}

#perfilLogin span{

    align-self: center;

}

#selecionado {

    text-decoration: underline;

}

#navbar ul a {

    text-decoration: none;
    color: white;

}


.sair a {

    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;

}

.sair, #navbar ul a, footer ul a {

    position: relative;

}

.sair:after {

    content: ' ';     /* para aparecer a "div"  */
    position: absolute;/* para posicionar a "div"  */
    width: 0; /* para dimensionar a "div"  */
    height: 3px; /* para dimensionar a "div"  */
    background-color: white;
    bottom: 18px; /* para posicionar a "div"  */
    transition: 0.2s; /* para "animar" a "div"  */

}

#navbar ul a:after, footer ul a:after{

    content: ' ';     /* para aparecer a "div"  */
    position: absolute;/* para posicionar a "div"  */
    width: 0; /* para dimensionar a "div"  */
    height: 2px; /* para dimensionar a "div"  */
    background-color: white;
    bottom: -1px; /* para posicionar a "div"  */
    transition: 0.2s; /* para "animar" a "div"  */
    left: 0px;

}

.sair:hover:after, #navbar ul a:hover:after, footer ul a:hover:after {

    width: 100%;
    
}

footer {

    background: linear-gradient(to left, rgb(7, 2, 73), rgb(41, 41, 155));
    height: 200px;
    color: white;
    margin-top: 25%;
    border-top: solid 1px white;
    
}

footer ul{

    list-style-type: none;

}

footer ul li {

    padding-top: 1%;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer ul a{

    text-decoration: none;
    color: white;
    
}

footer p {

    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.6rem;
    color: white;
    margin-left: 43%;
}

#container1 {

    height: 400px;
    background-image: url(./imagens/PlanoFundo.png);
    width: 100%;

}

#container1 button{

    padding: 1%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-left: 44.5%;
    margin-top: 18%;
    transition: 0.2s;
}

#container1 button:hover {

    background-color: white;
    color: black;
    border-color: white;
    transition: 0.2s;

}

body p{

    margin: 0;
    color: white;

}

footer p {

    margin-left: 41%;
    font-size: 0.8rem;

}

