@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');

#navbar {
    margin: 0;
    height: 120px;
    margin-top: 0%;
    background-color: transparent;
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100%;
    z-index: 100;
    align-items: center;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body{

    margin: auto;
    background-color: rgb(53, 8, 8);

}

#navbar ul{

    display: flex;
    list-style-type: none;
    width: 45%;
    align-items: center;
    
}

#navbar li{

    font-size: 1rem;
    margin-right: auto;

}

#navbar #logo{

    width: 140px;
    height: 130px;
    margin-right: 10px;
}

#navbar #perfil{

    width: 70px;
    height: 70px;

}

#perfilLogin{

    display: flex;

}

#perfilLogin span{

    align-self: center;

}

#selecionado {

    text-decoration: underline;

}

#navbar ul a {

    text-decoration: none;
    color: white;

}


.sair a {

    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;

}

.sair, #navbar ul a, footer ul a {

    position: relative;

}

.sair:after {

    content: ' ';     /* para aparecer a "div"  */
    position: absolute;/* para posicionar a "div"  */
    width: 0; /* para dimensionar a "div"  */
    height: 3px; /* para dimensionar a "div"  */
    background-color: white;
    bottom: 18px; /* para posicionar a "div"  */
    transition: 0.2s; /* para "animar" a "div"  */

}

#navbar ul a:after, footer ul a:after{

    content: ' ';     /* para aparecer a "div"  */
    position: absolute;/* para posicionar a "div"  */
    width: 0; /* para dimensionar a "div"  */
    height: 2px; /* para dimensionar a "div"  */
    background-color: white;
    bottom: -1px; /* para posicionar a "div"  */
    transition: 0.2s; /* para "animar" a "div"  */
    left: 0px;

}

.sair:hover:after, #navbar ul a:hover:after, footer ul a:hover:after {

    width: 100%;
    
}

#perfil{

    text-decoration: none;
    color: white;

}

footer {

    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(90, 10, 10));
    height: 220px;
    color: white;
    margin-top: 25%;
    border-top: solid 1px white;
    
}

footer ul{

    list-style-type: none;

}

footer ul li {

    padding-top: 1%;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer ul a{

    text-decoration: none;
    color: white;
    
}

footer p {

    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
    color: white;
}

#desenvolvido {

    margin-left: 40%;

}

video{

    top: 0;
    position: fixed;
    object-fit: cover;
    z-index: -1;
    object-position: 50% 25%;
    object-fit: cover;
    width: 100%;

}

h1 {

    color: white;
    font-family: 'Aclonica', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 4%;

}

#div_mensagem{

    color: white;

}

button {

    background-color: transparent;
    padding: 1%;
    color: white;
    border-radius: 8px;
    border: solid 1px white;
    transition: 0.2s;
    display: flex;
    justify-self: center;
    margin-bottom: 4%;

}

button:hover{

    background-color: white;
    color: black;
    border: solid 1px white;
    transition: 0.2s;

}

.jogo{
    height: 250px;
    transition: 0.2s;
    padding: 1.5%;
    padding-bottom: 0%;
    margin-left: 2%;
    width: 27%;
    margin-bottom: 2%;
    color: white;
    border-radius: 15%;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.468);
    font-family: 'Hubot Sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

.jogo:hover{

    transition: 0.2s;
    padding: 1.2%;
    border: solid 3px white;

}

#container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: auto;
    margin-bottom: 5%;

}

.remover{

    border: none;
    color: white;
    font-size: 1.5rem;
    margin-top: 0;
    margin-left: 95%;
    transition: 0.2;

}

.remover:hover{

    border: none;
    background-color: rgba(255, 255, 255, 0.13);
    transition: 0.2;
    color: white;

}