@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');

#navbar {
    margin: 0;
    height: 120px;
    margin-top: 0%;
    background-color: transparent;
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100%;
    z-index: 100;
    align-items: center;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;

}

body{

    margin: auto;
    background-color: rgb(77, 19, 19);

}

#navbar ul{

    display: flex;
    list-style-type: none;
    width: 45%;
    align-items: center;
    
}

#navbar li{

    font-size: 1rem;
    margin-right: auto;

}

#navbar #logo{

    width: 140px;
    height: 130px;
    margin-right: 10px;
}

#navbar #perfil{

    width: 70px;
    height: 70px;

}

#perfilLogin{

    display: flex;

}

#perfilLogin span{

    align-self: center;

}

#selecionado {

    text-decoration: underline;

}

#navbar ul a {

    text-decoration: none;
    color: white;

}


.sair a {

    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;

}

.sair, #navbar ul a, footer ul a {

    position: relative;

}

.sair:after {

    content: ' ';     /* para aparecer a "div"  */
    position: absolute;/* para posicionar a "div"  */
    width: 0; /* para dimensionar a "div"  */
    height: 3px; /* para dimensionar a "div"  */
    background-color: white;
    bottom: 18px; /* para posicionar a "div"  */
    transition: 0.2s; /* para "animar" a "div"  */

}

#navbar ul a:after, footer ul a:after{

    content: ' ';     /* para aparecer a "div"  */
    position: absolute;/* para posicionar a "div"  */
    width: 0; /* para dimensionar a "div"  */
    height: 2px; /* para dimensionar a "div"  */
    background-color: white;
    bottom: -1px; /* para posicionar a "div"  */
    transition: 0.2s; /* para "animar" a "div"  */
    left: 0px;

}

.sair:hover:after, #navbar ul a:hover:after, footer ul a:hover:after {

    width: 100%;
    
}

#perfil{

    text-decoration: none;
    color: white;

}

footer {

    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(90, 10, 10));
    height: 220px;
    color: white;
    margin-top: 15%;
    border-top: solid 1px white;
    
}

footer ul{

    list-style-type: none;

}

footer ul li {

    padding-top: 1%;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer ul a{

    text-decoration: none;
    color: white;
    
}

footer p {

    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
    color: white;
}

#desenvolvido {

    margin-left: 40%;

}

.container1 {

    height: 690px;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 2rem;
    font-family: 'Aclonica',Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 1px solid white;

}

.container1 video {

    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 50% 25%; /* ← Centraliza o vídeo vertical e horizontalmente */
    z-index: -1;
    width: 100%;
    height: 160%;
    
}


#textoContainer {

    margin-top: 12%;
    color: white;

}

.container1 button{

    padding: 1%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-top: 6%;
    transition: 0.2s;
}

.container1 button:hover {

    background-color: white;
    color: black;
    border-color: white;
    transition: 0.2s;

}

#titulo {
    margin-top: 5%;
    color: white;
    font-family: 'Aclonica', Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

#descricao {

    height: 300px;
    width: 40%;
    align-self: center;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgba(230, 230, 230, 0.692);
    padding: 2%;
    border-radius: 50px;
    border: solid 2px rgb(255, 255, 255);
    align-content: center;
    margin: 50px;

}

#descricao h1 {

    color: white;
    font-family: 'Aclonica';

}

#Roblox, #Fortnite, #Minecraft, #PUBG, #lol, #Free_Fire, #Apex, #Rocket, #Genshin, #Valorant {

    margin-top: 5%;
    display: flex;
    width: 100%;
    height: 500px;
    cursor: pointer;
    justify-content: space-between;

}

#Roblox img, #Minecraft img, #lol img, #Apex img, #Genshin img {

    border-top-right-radius: 95px;
    border-bottom-right-radius: 95px;
    border: solid 1px rgb(255, 255, 255);
    width: 50%;

}

#Fortnite img, #PUBG img, #Free_Fire img, #Rocket img, #Valorant img {

    border-top-left-radius: 95px;
    border-bottom-left-radius: 95px;
    border: solid 1px rgb(255, 255, 255);
    margin-left: 10%;
    width: 50%;

}

#descricao p {

    color: white;
    font-family: 'Hubot Sans';
    

}

