@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');

#navbar {
    margin: 0;
    height: 120px;
    margin-top: 0%;
    background-color: transparent;
    display: flex;
    color: white;
    justify-content: space-around;
    width: 100%;
    z-index: 100;
    align-items: center;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body{

    margin: auto;
    background-color: rgb(53, 8, 8);

}

#navbar ul{

    display: flex;
    list-style-type: none;
    width: 45%;
    align-items: center;
    
}

#navbar li{

    font-size: 1rem;
    margin-right: auto;

}

#navbar #logo{

    width: 140px;
    height: 130px;
    margin-right: 10px;
}

#navbar #perfil{

    width: 70px;
    height: 70px;

}

#perfilLogin{

    display: flex;

}

#perfilLogin span{

    align-self: center;

}

#selecionado {

    text-decoration: underline;

}

#navbar ul a {

    text-decoration: none;
    color: white;

}


.sair a {

    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;

}

.sair, #navbar ul a, footer ul a {

    position: relative;

}

.sair:after {

    content: ' ';     /* para aparecer a "div"  */
    position: absolute;/* para posicionar a "div"  */
    width: 0; /* para dimensionar a "div"  */
    height: 3px; /* para dimensionar a "div"  */
    background-color: white;
    bottom: 18px; /* para posicionar a "div"  */
    transition: 0.2s; /* para "animar" a "div"  */

}

#navbar ul a:after, footer ul a:after{

    content: ' ';     /* para aparecer a "div"  */
    position: absolute;/* para posicionar a "div"  */
    width: 0; /* para dimensionar a "div"  */
    height: 2px; /* para dimensionar a "div"  */
    background-color: white;
    bottom: -1px; /* para posicionar a "div"  */
    transition: 0.2s; /* para "animar" a "div"  */
    left: 0px;

}

.sair:hover:after, #navbar ul a:hover:after, footer ul a:hover:after {

    width: 100%;
    
}

#perfil{

    text-decoration: none;
    color: white;

}

footer {

    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(90, 10, 10));
    height: 220px;
    color: white;
    margin-top: 10%;
    border-top: solid 1px white;
    
}

footer ul{

    list-style-type: none;

}

footer ul li {

    padding-top: 1%;
    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

footer ul a{

    text-decoration: none;
    color: white;
    
}

footer p {

    font-family: 'Hubot Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8rem;
    color: white;
}

#desenvolvido {

    margin-left: 40%;

}

#CriadorH1 {

    text-align: center;
    font-family: 'Aclonica', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.9rem;
    color: white;
    margin-top: 3%;

}

.criador, .projeto {

    margin-top: 5%;
    color: white;
    display: flex;
    width: 90%;
    margin-left: 6%;

}

.criador img, .projeto img {

    height: 70%;
    width: 90%;
    border-radius: 100%;
    margin-left: 5%;

} 

#contextoCriador, #contextoProjeto{

    width: 10%;
    margin-top: 10%;

}

#contextoCriador p {

    align-items: center;
    align-self: center;
    align-content: center;

}

#bodyCriador{

    overflow-x: hidden;

}

#imagem_criador, #imagem_projeto{

    width: 100%;

}

video {

    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 50% 25%; /* ← Centraliza o vídeo vertical e horizontalmente */
    z-index: -1;
    width: 100%;
    height: 100%;
    
}